@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="jumbotron d-flex align-items-center align-top align-self-md-center h-75 bkg-light-1">
    <div class="container text-center">
        <form method="post">
            <div class="row text-center">
                <div class="col-md-6 mx-auto">
                    <label asp-for="Username">Korisničko ime</label>
                    <input type="text" asp-for="Username" name="Username" class="form-control" id="username-input" aria-describedby="username-help" placeholder="Unesite korisiničko ime">
                    <small id="username-help" class="form-text text-muted">Korisničko ime mora da bude duže od pet karaktera.</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 mx-auto">
                    <label asp-for="Password">Lozinka</label>
                    <input type="password" asp-for="Password" name="Password" class="form-control" id="password-input" aria-describedby="password-help" placeholder="Unesite lozinku">
                    <small id="password-help" class="form-text text-muted">Lozinka mora da bude duža od pet karaktera.</small>
                </div>
            </div>
            <div class="row spacer"></div>
            <div class="row text-center">
                <div class="mx-auto">
                    <button type="submit" asp-page-handler="login" class="btn bkg-dark-1 btn-lg mr-md-5">Login</button>
                    <button type="submit" asp-page-handler="register" class="btn bkg-light-2 btn-lg ml-md-5">Registracija</button>
                </div>
            </div>
        </form>
        @if (Model.HasErrorMessage)
        {
            <div class="login-error-card card text-white bg-danger mb-3" style="max-width: 18rem;">
                <div class="card-header">Greška</div>
                <div class="card-body">
                    @*<h5 class="card-title">@Model.Message</h5>*@
                    <p class="card-text">@Model.Message</p>
                </div>
            </div>
        }

    </div>
</div>

@*<div class="row">
        <div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core Razor Pages</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?linkid=852130">Working with Razor Pages.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure App Service</a></li>
            </ul>
        </div>
    </div>*@
