.bkg-dark-1 {
    background-color: rgb(104, 150, 137);
}
.bkg-dark-2 {
    background-color: rgb(92, 132, 122);
}
.bkg-light-1 {
    background-color: rgb(178, 230, 212);
}
.bkg-light-2 {
    background-color: rgb(147, 220, 195);
}
/*col-dark {
    background-color: rgb(104, 150, 137);
}
col-light {
    background-color: rgb(178, 230, 212);
}*/
