/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
html {
    height: 100%;
}
body {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.spacer {
    margin-top: 40px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dog-card {
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 5px;
}

.dog-card-name {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-size: 1.8em;
}

.dog-card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.dog-card-info-text {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-size: 1.2em;
}
.dog-card-title-row {
    position:relative;
}
.dog-card-manage-icon {
    position: absolute;
    right: 2%;
    top: 25%;
}