@page
@model PsecaLjubavWeb.Pages.User.AdoptModel
@{
    ViewData["Title"] = "Adopt";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row text-right">
    <h1 class="home-title-text">Usvoji psa!</h1>
</div>
<partial name="_UserLinks" model="new _UserLinksModel()" />
<div class="spacer"></div>
<div class="adopt-dogs-container dog-rows-container">
    @if (Model.Dogs.Count() == 0)
    {
        <div class="row">
            <h3 class="home-title-text">Nema dostupnih pasa :(</h3>
        </div>
    }
    else
    {
        <div class="row">
            <h3 class="home-title-text">Napomena: ako odaberete psa za usvajanje, usvajate ga tek kada vlasnik potvrdi to.</h3>
        </div>
    }
    @for (var i = 0; i < Model.Dogs.Count(); i++)
    {
        var dog = Model.Dogs[i];
        if (i % 4 == 0)
        {
            @:<div class="row dog-cards-row">
            }
            <div class="col-md-3">
                <partial name="_AdoptDogCard" model=@dog />
            </div>
            if (i % 4 == 3)
            {
            @:</div>
        }
    }
    @if (Model.Dogs.Count() % 4 == 3)
    {
    @:</div>
}

    </div>
    <form id="adoptdog-form" method="post" asp-page-handler="AdoptDog">
        <input type="hidden" asp-for="AdoptDogID" name="AdoptDogID" id="adoptdogid-input" />
    </form>

