@page
@model PsecaLjubavWeb.Pages.User.HomeModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <div class="row text-right">
        <h1>Welcome, @Model.Username!</h1>
    </div>
    <div class="row dog-cards-row">
        @foreach (var dog in Model.Dogs)
        {
            <div class="col-md-3">
                <partial name="_DogCard" model=dog>
            </div>
        }
        <div class="col-md-3">
            <div class="dog-card new-dog-card">
                <div class="new-dog-card-plus-icon">
                    <i class="fas fa-plus-circle"></i>
                </div>
            </div>
        </div>
    </div>
</div>
